.venv/
.venv-airflow
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.ruff_cache/
.airflow
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
artifacts/*
!artifacts/.gitkeep
mlruns/*
!mlruns/.gitkeep
model_repository/*
!model_repository/.gitkeep

bin/
obj/
airflow\dags\__pycache__
analysis/*
api\WindInference.Api\bin
api\WindInference.Api\obj
mlruns/*
model_repository/*
notebook_outputs/penmanshiel
api/WindInference.Api/.vs
api/WindInference.Api/CopilotIndices